<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reminder App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Reminder</h1>
        <div class="reminder-box">
            {% for reminder in reminders %}
                <p>{{ reminder }}</p>
            {% endfor %}
        </div>

        <form action="{{ url_for('new_reminder') }}" method="post">
            <input type="text" name="new_reminder" placeholder="New Reminder" required>
            <button class="button" type="submit">New Reminder</button>
        </form>

        <form action="/set_reminder" method="post">
            <input type="text" name="text" placeholder="Reminder Text">
            <input type="datetime-local" name="time">
            <button type="submit">Set Reminder</button>
        </form>        

        <div class="assistant-box">
            <form action="{{ url_for('ask_assistant') }}" method="post">
                <input type="text" name="assistant_question" placeholder="Assistant: How do I make a doctor appointment" required>
                <button class="button" type="submit">Ask</button>
            </form>
        </div>
    </div>
</body>
</html>
